<div class="progress">
  <div class="progress-bar progress-bar-{{cls}}" role="progressbar" style="width: {{percent}}%"></div>
</div>

<p class="stats pull-right">{{remainingPercent}}% ({{remainingMb}} of {{cap}} MB) remaining.</p>
